body {
	background-color: #f9e933;
}

header, main, footer {
	min-width: 855px;
}

header .container , main .container , footer .container {
	max-width: 855px;
	margin: auto;
}

header {
	background: white;
	overflow: auto;
}

header .container h1 {
	float: left;
	width: 570px;
}

header .container nav {
	float: right;
	width: 285px;
}

main {
	background: white;
	overflow: auto;
}

main .info {
	float: left;
	width: 570px;
}

main .image {
	float: right;
	width: 285px;
}

footer {
	overflow: auto;
}

footer .sitemap {
	float: right;
	width: 285px;
}

footer .contact {
	float: left;
	width: 570px;
}