body {
	background-color: #f9e933;
	font-family: 'Ubuntu' , sans-serif;
	font-size: 100%;
	margin: 0px;
	padding: 0px;
}

h1 {

}

header, main, footer {
	min-width: 855px;
}

header .container , main .container , footer .container {
	max-width: 855px;
	margin: auto;
}

header {
	background: white;
	overflow: auto;
	margin: 0px;
}

header .container h1 {
	float: left;
	width: 570px;
}

header .container nav {
	float: right;
	width: 285px;
	margin-top: 21.440px;
	margin-bottom: 21.440px;
}

main {
	background: white;
	overflow: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}



footer {
	overflow: auto;
}

footer .sitemap {
	float: right;
	width: 285px;
}

footer .sitemap ul {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style-type: none;
}

footer .contact {
	float: left;
	width: 570px;
}

footer .contact p {
	margin: 0px;
}

/*For index.html*/

main .info {
	float: left;
	width: 570px;
}

main .info ul {
	list-style-type: none;
	padding: 0px;
}

main .info ul li {
	margin-top: 10px;
}

main .image {
	float: right;
	width: 285px;
}

/*for user.html*/

main .tabs a span{
	display: inline-block;
	border-radius: 5px 5px 0px 0px;
	width: 100px;
	margin-right: 10px;
	text-align: center;
	background-color: #eeeeee;
	padding: 5px;
}

main .tabs a .active {
	background-color: #dddddd;
}

main .content ul {
	list-style-type: none;
	padding: 5px;
	margin: 0px;
	background-color: #dddddd;
}

main .content ul li {
	margin-bottom: 5px;
	padding-left: 5px;
	background-color: #eeeeee;

}

